/*滑鼠劃過行*/
.s-wp-tr-over td
{
    background-color:#2FBBFF;
    color:White;
}

.s-wp-tr-over .s-dp-week
{
    background-color:#2FBBFF;
    color:White;
}

.s-wp-tr-select td
{
    background-color:#009CE8;
    color:white;
    font-weight:bold;
}

.s-wp-tr-select .s-dp-week
{
    background-color:#009CE8;
    color:white;
    font-weight:bold;
}
